.artist_block{
	position:static;
	width:33.33%;
	height:40%;
	#background-color:red;
	display:block;
	padding-top:50px;
}

.artist_block_inner{
	margin:auto;
	position:relative;
	width:80%;
	height:500px;
	display:block;
	border:solid;
	border-color:#000000;
	background-color:white;
	border-radius:20px;
}

.artist_block_profile_picture{
	position:absolute;
	height:140px;
	top:20px;
	left:5%;
	width:40%;
	display:block;
	border:solid;
	border-width:1px;
	border-color:#000000;
	background-color:white;
	border-radius:70px;
	object-fit:cover;
}

.artist_block_details{
	position:absolute;
	height:140px;
	top:20px;
	right:5%;
	width:45%;
	display:block;
	border:solid;
	border-color:#000000;
	background-color:#e3f2ff;
	text-align:center;
	border-radius:10px;
	border-width:1px;
	font-size:20px;
}

.artist_block_picture{
	margin:auto;
	position:absolute;
	width:90%;
	left:5%;
	bottom:20px;
	height:200px;
	display:block;
	border:solid;
	border-color:#000000;
	background-color:white;
	border-radius:10px;
	border-width:1px;
}

.artist_block_picture_inner{
	object-fit:cover;
	position:absolute;
	height:100%;
	width:100%;
	background-color:white;
	border-radius:10px;
}

.artist_styles{
	position:absolute;
	height:80px;
	width:90%;
	left:5%;
	display:block;
	background-color:#e3f2ff;
	border:solid;
	border-color:#000000;
	bottom:240px;
	border-radius:10px;
	border-width:1px;
	color:black;
	text-align:center;
	font-size:20px;
	
}

.artist_style_box{
	position:absolute;
	width:25%;
	height:60%;
	top:30%;
	
}












