{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add a Picture
{% endblock %}

{% block body_block %}
<h1 style="text-align:center">Add a Picture</h1>
<div class="reviewRectangle" style="height:42%; font-size:18px;">
	<form id="category_form" method="post" action="/INKLined_app/my-account/add-picture">
		{% csrf_token %}

		<p style="margin-top:50px; margin-bottom:-80px">Please choose your username </p>
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
			<br> </br>
			{{ field.errors }}
			{{ field.help_text }}
			</br>
			{{ field }}
		{% endfor %}
		</p>
		<input type="submit" name="submit" value="Add pic " class="reviewButton" />
</div>
{% endblock %}