{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Review
{% endblock %}

{% block body_block %}
    <h2 style="text-align: center;"> <b> Add a Review of <a href="{% url 'INKLined_app:show_artist' artist.ARTIST_USERNAME %}"> {{ artist.ARTIST_USERNAME }} </a> </b ></h2>

			<form id="review_form" method="post" action="{% url 'INKLined_app:add_review' artist.ARTIST_USERNAME %}" enctype="multipart/form-data">
				 {% csrf_token %}
				 <div class="customer_signup-box">
					{{ review_form.as_p }}
					<div style="text-align:center">
						<input type="submit"  name="submit" value="Add review" class="reviewButton"/>
					</div>
				</div> 
			 </form>
			 
			 
		
{% endblock %}