{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a Picture
{% endblock %}

{% block body_block %}
    <h2 style="text-align: center;"> <b> Add a Picture For <a href="{% url 'INKLined_app:show_artist' artist.ARTIST_USERNAME %}"> {{ artist.ARTIST_USERNAME }}'s Portfolio </a> </b ></h2>

			<form id="picture_form" method="post" action="{% url 'INKLined_app:add-picture'%}" enctype="multipart/form-data">
				 {% csrf_token %}
				 <div class="customer_signup-box">
					{{ picture_form.as_p }}
					<div style="text-align:center">
						<input type="submit"  name="submit" value="Upload Picture" class="reviewButton"/>
					</div>
				</div> 
			 </form>
			 
			 
		
{% endblock %}