{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1 style="left:20px">Artists:</h1> 
    <!-- List of artists-->
	<form id="search_artists">
		<input type="text" placeholder="Search for an artist here" style="left:20px">
	</form>
	<div>
        {% if ARTISTS %}
            <ul>
                {% for artist in ARTISTS %}
					<div class="artist_block" style="float:left;">
						<div class="artist_block_inner">
							{% if artist.PROFILE_PICTURE  %}
								 <img src="{{ MEDIA_URL }}{{artist.PROFILE_PICTURE}}" alt="Profile picture." style="width:200px;"/> 
								{% else %}
									 <img class="card-img-top" src="\static\images\user.png" style="width:200px;"/> 
								{% endif %}
							<a href="{% url 'INKLined_app:show_artist' artist.ARTIST_USERNAME %}"> {{ artist.ARTIST_USERNAME }}</a>
							{{ artist.FULL_NAME }}
						</div>
					</div>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no ARTISTS present.</strong>
        {% endif %}
    </div>
    
{% endblock %}