{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>INKLined_app says...</h1> 
    <div> 
        {% if user.is_authenticated %} 
            howdy {{ user.username }}! 
        {% else %} 
            hey there partner! 
        {% endif %}
        <br /> 
    </div> 
    <div>
        <h1>{{artist.ARTIST_USERNAME}}</h1> 
        
    </div>
    <iframe width="600" height="450" frameborder="0" style="border:0"
        src={{ gmaps_location }} allowfullscreen></iframe>
    <div>
        <h2><a href="{% url 'INKLined_app:show_reviews' artist.ARTIST_USERNAME  %}"> Reviews</a></h2>

    </div>
	<div>
		{% if USERTYPE %}
			<a href="{% url 'INKLined_app:save_artist' artist.ARTIST_USERNAME  %}">Save Button</a>
		{% endif %}
	</div>


 
{% endblock %}