{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1 style="margin-left:20px;">Artists:</h1> 
    <!-- List of artists-->
	<form id="search_artists" style="margin-left:20px;">
		<input type="text" placeholder="Search for an artist here" style="left:20px;width:33%;height:30px;">
	</form>
	
	<form id="filter_by_style" style="margin-left:20px;">
		<select id="styles" name="styles" style="width:20%;">
			<option value="none" selected>Filter by style here</option>
			<option value="Nature">Nature</option>
			<option value="Cartoon">Cartoon</option>
			<option value="Abstract">Abstract</option>
			<option value="Geometric">Geometric</option>
			<option value="Realism">Realism</option>
			<option value="Tribal">Tribal</option>
			<option value="Sleave">Sleave</option>
			<option value="Writing">Writing</option>
			<option value="Non-english Writing">Non-english Writing</option>
			<option value="Other">Other</option>
		</select>
	</form>
	
	<div id="artist-list">
        {% if PICTURES or ARTISTS_WITHOUT_PICTURES %}
            <ul>
                {% for picture in PICTURES %}
					<div class="artist_block" style="float:left;">
						<div class="artist_block_inner">
						
							{% if picture.ARTIST.PROFILE_PICTURE  %}
								 <img src="{{ MEDIA_URL }}{{picture.ARTIST.PROFILE_PICTURE}}" alt="Profile picture." class="artist_block_profile_picture" /> 
							{% else %}
								<img src="\static\images\user.png" class="artist_block_profile_picture" />
							{% endif %}
							
							<div class="artist_block_details">
								<br />
								<a href="{% url 'INKLined_app:show_artist' picture.ARTIST.ARTIST_USERNAME %}" class="username_js"> {{ picture.ARTIST.ARTIST_USERNAME }}</a>
								<br />
								{{ picture.ARTIST.FULL_NAME }}
							</div>
							
							<div class="artist_styles">
								<h4>Artists styles:</h4>
								{{ picture.ARTIST.STYLE_1 }}
								{{ picture.ARTIST.STYLE_2 }}
								{{ picture.ARTIST.STYLE_3 }}
							</div>
							
							
							<div class="artist_block_picture">
								<img src="{{ MEDIA_URL }}{{ picture.UPLOADED_IMAGE }}" alt="Sample Picture" class="artist_block_picture_inner" /> 
							</div>
						</div>
					</div>
                {% endfor %}
				
				{% for artist in ARTISTS_WITHOUT_PICTURES %}
					<div class="artist_block" style="float:left;">
						<div class="artist_block_inner">
						
							{% if artist.PROFILE_PICTURE  %}
								 <img src="{{ MEDIA_URL }}{{artist.PROFILE_PICTURE}}" alt="Profile picture." class="artist_block_profile_picture" /> 
							{% endif %}
							
							<div class="artist_block_details">
								<br />
								<a href="{% url 'INKLined_app:show_artist' artist.ARTIST_USERNAME %}" class="username_js"> {{ artist.ARTIST_USERNAME }}</a>
								<br />
								{{ artist.FULL_NAME }}
							</div>
							
							<div class="artist_styles">
								<h4>Artists styles:</h4>
								{{ artist.STYLE_1 }}
								{{ artist.STYLE_2 }}
								{{ artist.STYLE_3 }}
							</div>
							
							<!--
							<img src="{{ MEDIA_URL }}{{ picture.UPLOADED_IMAGE }}" alt="Sample Picture" class="artist_block_picture" /> 
							-->
							<div class="artist_block_picture">
								<img src="\static\images\default.jpg" class="artist_block_picture_inner" />
							</div>
						</div>
					</div>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no ARTISTS present.</strong>
        {% endif %}
    </div>
    
{% endblock %}
