{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Customer_signup
{% endblock %}

{% block body_block %}
    <h1>Customer Signup</h1> 
    {% if registered %}
        <strong>thank you for registering!</strong>
    {% else %}
        <strong>register here!</strong><br />
        <form id="customer_form" method="post" action="{% url 'INKLined_app:add_customer' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ customer_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        
        </form>

    {% endif %}
{% endblock %}