{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Customer_signup
{% endblock %}

{% block body_block %}
	<div style="text-align:center">
		<h1>Customer Signup</h1> 
	</div>
    {% if registered %}
        <strong>thank you for registering!</strong>
    {% else %}
        <form id="customer_form" method="post" action="{% url 'INKLined_app:add_customer' %}" enctype="multipart/form-data">
            {% csrf_token %}
			<div style="text-align:center">
				<div class="customer_signup-box">
					{{ customer_form.as_p }}
					<input type="submit" name="submit" value="Register" />
				</div>
			</div>
        </form>

    {% endif %}
{% endblock %}