{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
     <h1 style="text-align: center;">  REVIEWS of <a href= "{% url 'INKLined_app:show_artist' artist.ARTIST_USERNAME %}">{{ artist.ARTIST_USERNAME }}  </a> </h1>
		<h4 style="text-align: center;"> <a href= "{% url 'INKLined_app:add_review' artist.ARTIST_USERNAME %}"> Add review </a>  </h4>
		<div class="reviews">
		  <div class="row blockquote review-item">
			{% for review in reviews %}
				<div class="col-md-3 text-center">
					<img class="rounded-circle reviewer" class="reviewer" src="{{ MEDIA_URL }}{{review.CUSTOMER.PROFILE_PICTURE}}">
					  
					<div class="caption">
						<small>by {{review.CUSTOMER.USERNAME}}</small>
					</div>

				</div>
				<div class="col-md-9">
				  <h4>{{review.TITLE}}</h4>
				  <div class="ratings-icons">
											{% if review.RATING == 5%} 
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
											{% elif review.RATING == 4%} 
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star "></span>
											{% elif review.RATING == 3%} 
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star "></span>
												<span class="fa fa-star "></span>
											{% elif review.RATING == 2%} 
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star "></span>
												<span class="fa fa-star "></span>
												<span class="fa fa-star "></span>
											{% elif review.RATING == 1%} 
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star "></span>
												<span class="fa fa-star "></span>
												<span class="fa fa-star "></span>
												<span class="fa fa-star "></span>
											{% endif %}
										</div>
										</br>
										<p style="font-size:90%;">{{review.DESCRIPTION}}</p>
										
										<p><img src="{{ MEDIA_URL }}/{{review.PICTURE}}" class="img-responsive" alt="" width="400" alt="Picture of a Cat." /> </p>	
										<p style="font-size:70%; text-align:right;">Posted on {{review.DATE}}</p>

				</div>    
				{% endfor %}				
			  </div>  
			</div>

{% endblock %}