{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign-Up
{% endblock %}

{% block body_block %} 
    <h1>Sign up page</h1>
    {% if registered %}
        INKLined_app says: <strong>thank you for registering!</strong>
        <a href="{% url 'INKLined_app:index' %}">Return to the homepage.</a><br />
    {% else %} 
	
        <a href="{% url 'INKLined_app:add_customer' %}">Sign up as a customer</a><br />
		<a href="{% url 'INKLined_app:add_artist' %}">Sign up as an artist</a><br />
    
    {% endif %}
{% endblock %}
