{% extends 'INKLined_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign-Up
{% endblock %}

{% block body_block %} 
    {% if registered %}
        INKLined_app says: <strong>thank you for registering!</strong>
        <a href="{% url 'INKLined_app:index' %}">Return to the homepage.</a><br />
    {% else %} 
		<div class="twoBoxes">
			<a href="{% url 'INKLined_app:add_customer' %}"><div class="signUpButton">Sign up as a customer</div></a>
			<br />
			<a href="{% url 'INKLined_app:add_artist' %}"><div class="signUpButton" style="top:20%;">Sign up as an artist</div></a>
			<br />
		</div>
    {% endif %}
{% endblock %}
